@import "@/styles/import";
@import "./tabs";

.features {
  min-height: 850px;

  .container {
    max-height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    &--title {
      margin-bottom: 1rem;
    }
  }
  @include media(">md") {
    &--paragraph {
      width: 60%;
      font-size: 1rem;
      margin-bottom: 2.5rem !important;
    }
  }

  @include media(">lg") {
    &--title {
      font-size: 2rem;
    }

    &--paragraph {
      width: 500px;
      font-size: 1rem;
      margin-bottom: 2.5rem !important;
    }
  }
}
